/* Mobile First */


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

:root {
    --ecriture: #262626;
    --background: linear-gradient(to top, #076585, #e5e5e5);;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background: var(--background);
}

/* nav */
nav {
    padding: 0.5rem;
    justify-content: space-between;
}

img {
    max-width: 100px;
    height: auto;
}

nav h1 {
    font-size: 2rem;
    margin: 0;
    color: var(--ecriture);
}

nav div {
    font-size: 1rem;
    display: flex;
    padding: 0;
    color: var(--ecriture);
    margin: 0;
    justify-content: end;
}

.icone {
    cursor: pointer;
}

/* section */
section {
    padding: 0.5rem;
    margin: 0 auto;
    max-width: 65ch;
    color: var(--ecriture);
}

#priorites {
    min-width: 33%;
    margin-left: auto;
    margin-right: auto;
}

#objectifs {
    min-width: 33%;
}

#taches {
    min-width: 33%;
}

section h2 {
    color: var(--ecriture);
    border-radius: 0.5rem;
    background: linear-gradient(to top, #8e9eab, #eef2f3);
    box-shadow: 3px 3px 14px 7px #525050;
    text-align: center;
}

.dateHeure {
    color: #262626;
}

#dateHeure {
    margin: auto;
    border-radius: 0.5rem;
    background: linear-gradient(to top, #8e9eab, #eef2f3);
    box-shadow: 3px 3px 14px 7px #525050;
    width: 40%;
    text-align: center;
}

section > article {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 .5rem 1rem;
    width: 80%;
    border-radius: 0.5rem;
    background: linear-gradient(to top, #8e9eab, #eef2f3);
}


.add {
    background-color: aquamarine;
    width: 58px;
    height: 63px;
    font-size: 40px;
    text-align: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    margin: 20% auto;
    width: 70%;
    background: linear-gradient(to top, #8e9eab, #eef2f3);
    border-radius: 5px;
    box-shadow: 15px 20px 0 rgba (0,0,0,0.5);
    padding: 1em;
    border: 1px solid black;
}

.btnClose {
    float: right;
    cursor: pointer;
}

#taskDesc, #taskName, #objectiveDesc, #objectiveName {
    width: 90%;
}


/* footer */
#auteurs {
    color: var(--ecriture);
    position: absolute;
    bottom: 0;
}

/* Version computer (768px à 1200px) */

@media only screen and (min-width:768px) {
   
#PC {
    display: flex;
    margin: 2rem;
    border-radius: 0.5rem;
    height: 600px;
}

h2 {
    text-align: center;
}

section h1 {
    height:5rem;
    display: flex;
}

#objectifs {
    min-width: 33%;
    
}

#taches {
    min-width: 33%;
}
}